<header>
  <p class="ele-flex1"><%= image_tag "THP-perso.png", alt: "THP logo", height: 120 %></p>
  <div class="ele-flex1"
    <br />
    <p class="ele-flex2"><%= link_to 'Home', root_path %></p>
    <p class="ele-flex2"><%= link_to 'Sign up', new_user_path %></p>
    <p class="ele-flex2"><%= link_to 'Login', new_user_path %></p>
  </div>
</header>
