<h2>New user</h2>

<table>
  <tr>
    <th></th>
    <!-- <th>Nom ou Pseudo</th> -->
    <th>New User</th>
  </tr>
  <tr>
    <td><%= @user.email %></td>
  </tr>
</table>
<p><%= link_to 'Create new user', new_user_path %></p>
<p><%= link_to 'Delete this user', user_path(user),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Home', root_path %></p>
